@model ClassStore.Domain.Entities.Class

<div class="card-link p-3 bg-light text-dark mb-2">

    @if (Model.ImageData != null)
    {
        <div class="pull-left" style="margin-right: 10px">
            <img class="img-thumbnail" width="75" height="75"
                 src="@Url.Action("GetImage", "Class", new {Model.ClassID})" />
        </div>
    }

        <h3>
            <strong>@Model.Name</strong>
            <span class="badge bg-primary float-end">
                @Model.Price.ToString("C")
            </span>
        </h3>

        <span class="lead"> @Model.Description</span>
   


    @using (Html.BeginForm("AddToCart", "Cart"))
    {
        <div class="float-end">
            @Html.HiddenFor(x => x.ClassID)
            @Html.Hidden("returnUrl", Request.Url.PathAndQuery)

            <input type="submit" class="btn btn-success" value="Add to cart" />
        </div>
    }

</div>